<div layout="column">
	
	<md-toolbar layout="row">
		<h1>Steam Viewer</h1>
	</md-toolbar>
	
	<div flex layout="row" layout-fill>
	
		<md-sidenav flex layout="column" layout-fill md-is-locked-open="true" class="md-whiteframe-z2">
			<p>Search: <input ng-model="query"></p>
			<md-list>
				<md-list-item ng-repeat="app in apps | filter:query | limitTo:20 track by app.appid">
					<p>{{app.name}}</p>
				</md-list-item>
			</md-list>
		</md-sidenav>
	
		<md-content flex layout="column" layout-fill></md-content>
		
	</div>

</div>